.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 400px; /* Set a maximum width if needed */
    height: 75vh; /* 75% of the viewport height */
  }
  
  .button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff; /* Border color */
    border-radius: 8px; /* Border radius, should match the button's border radius */
    z-index: 0;
  }

  .button {
    flex: 1;
    padding: 20px; /* Adjust the padding to change button size */
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-size: contain; /* Resize the background image to show completely */
    background-position: center; /* Center the background image */
    border-radius: 8px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  
  .button span {
    position: relative;
    z-index: 1;
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text;
    mask-image: url('../img/quizz/textures/letters.jpg');
    color: black;
    text-shadow: 
    -2px -2px 0 white,
    2px -2px 0 white,
    -2px 2px 0 white,
    2px -2px 0 white; 
  }

  .option1 {
      /* color: #e0cdcc; */
      background-image: url('../img/quizz/ITS.png');
  }
  
  .option2 {
    background-image: url('../img/quizz/porn.png');
    /* color: #e0cdcc; */
  }
  
  .option3 {
    background-image: url('../img/quizz/contraconception.png');
    /* color: #e0cdcc; */
  }
  
  .selected {
    border: 3px solid #fc918b;
  }
  
  .continue {
    background-color: #2c3e50;
  }
  
  .continue:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
  