.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 400px;
    height: 75vh;
  }
  
  .button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 8px;
    z-index: 0;
  }

  .button {
    flex: 1;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-size: contain;
    background-position: center;
    border-radius: 8px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

  }

  .button-text {
    color: black;
    text-shadow: 
    -2px -2px 0 white,
    2px -2px 0 white,
    -2px 2px 0 white,
    2px -2px 0 white; 
  }
  
  .continue-text {
    color: black
  }
  
  
  .button span {
    position: relative;
    z-index: 1;
    -webkit-background-clip: text;
    background-clip: text;
    mask-image: url('../img/quizz/textures/letters.jpg');
  }

  .option1 {
      background-image: url('../img/quizz/ITS.png');
  }
  
  .option2 {
    background-image: url('../img/quizz/porn.png');
  }
  
  .option3 {
    background-image: url('../img/quizz/contraconception.png');
  }
  
  .selected {
    border: 3px solid #fc918b;
    background-color: yellow;
  }
  .selected-2 {
    border: 3px solid #ff0d00;
  }
  
  .continue {
    background-color: #be647f;
  }
  
  .continue:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
  
  .title-text {
    color: #fe5353; /* White text color for contrast */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1); 
    font-size: 40px;
    font-weight: bold;
  }

  .title-text-2{
    font-size: 28px;
    font-weight: bold;
    color: #3498db;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }