@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

:root {
  --font-family: 'AnotherFont', sans-serif; /* Change the font family */
  /*--background-color: #ffe6e6;  Change the background color */
  


  --font-color: #000000; /* Change the font color */
  --side-color: #ffe6e6; /* Change the side color */
  --nav-hr-color: #c1ee45; /* Change the nav-hr color */
  --documents-list-item-color: #eaeaea; /* Change the documents-list-item color */
  --blue-color: #3498db; /* Change the blue color */
  --nav-font-size: 1.2em;
  --rectangular-border-radius: 8px; /* Change the border radius */
  --box-shadow: #3498db; /* Change the box shadow */
  --user-message-color: #f0f0f0; /* Change the user message color */
  --computer-message-color: rgb(127, 70, 163); /* Change the computer message color */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {

  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/vector-gratis/fondo-dia-mundial-salud-sexual-dibujado-mano_23-2149042548.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Tamaño de la ventana visible */

}

.root {
 
  width: 100%;
  height: 100%;
  display: flex;
}

.nav-sidebar {
  background-color: white;
  width: var(--nav-sidebar-width);
  height: 100%;
  font-size: var(--nav-font-size);
  padding: 20px;
}

.nav-item {
  list-style-type: none;
}

.nav-hr {
  border: 0;
  background-color: var(--nav-hr-color);
  height: 2px;
  margin-bottom: 10px;
}

.nav-title {
  padding: 20px;
}

.nav-icon {
  font-size: 1.5em;
  align-self: center;
  margin-right: 10px;
}

.nav-icon > svg {
  display: block;
}

.nav-link {
  color: var(--font-color);
  display: block;
  text-decoration: none;
  padding: 20px;
  border-radius: var(--rectuangular-border-radius);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.nav-color:visited {
  color: inherit;
}

.nav-link-active, .nav-link:hover {
  background-color: var(--side-color);
  color: var(--font-color);
}


.main-content {
  flex: 1;
  background-color: var(--background-color);
  padding: 75px;
  display: flex;
  flex-direction: column;
}

.documents-header {
  display: flex;
  justify-content: space-between;
}

.documents-list {
  flex: 1;
  overflow-y: scroll;
}

.documents-list-item {
  display: block;
  height: 70px;
  border-radius: var(--rectuangular-border-radius);
  background-color: var(--documents-list-item-color);
  margin-top: 20px;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  padding: 0 30px;
}


.chat-container {
  flex: 1;
  overflow-y: scroll;
}

.message {
  border-radius: var(--rectuangular-border-radius);
  display: flex;
  padding: 20px;
}

.message:not(:first-child) {
  margin-top: 20px;
}

.user-message {
  background-color: var(--user-message-color);
}

.computer-message {
  background-color: var(--computer-message-color);
  color: white;
}

.message-content {
  flex: 1;
  align-self: center;
  word-break: break-all;
}

.message-icon {
  font-size: 2em;
  margin-right: 20px;
}

.chat-footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.chat-footer-input {
  flex: 1;
  border: none;
  outline: none;
  border-radius: var(--rectuangular-border-radius);
  height: var(--chat-footer-element-height);
  padding: 20px;
  margin-right: 10px;
  box-shadow: var(--box-shadow);
}

.chat-footer-button {
  height: var(--chat-footer-element-height);
  width: 100px;
  border: none;
  border-radius: var(--rectuangular-border-radius);
  background-color: var(--blue-color);
  color: white;
  font-size: 1.1em;
  cursor: pointer;
}

.option-0 {
  background-color: #4285F4;
}

.option-1 {
  background-color: #DB4437;
}

.option-2 {
  background-color: #F4B400;
}

.option-3 {
  background-color: #0F9D58;
}

.main-content-container {
 /* background-image: url("https://img.freepik.com/fotos-premium/papel-pintado-platano-sobre-fondo-rosa_33736-4252.jpg");*/
  display: grid;
  grid-template-rows: auto 1fr; /* Dos filas: una para la imagen y otra para el texto */
  gap: 20px; /* Espacio entre las filas */
}

.image-container {
  /*width: 200px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.text-container {
  text-align: center;
  border: 1px solid #eb06f3;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  border-width: 3px;
}

.text-container h1 {
  color: #000000; /* Color del título */
  margin-bottom: 10px;
}

.text-container p {
  color: #000000; /* Color del texto */
  margin-top: 30px;
}

.faq-container {
 /* max-width: 800px;*/
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #000000;
  text-align: center;
}

.faq-item {
  width:1000px;
  margin-top: 30px;
  border: 1px solid #eb06f3;
  border-radius: 8px;
  border-width: 3px;
  padding: 15px;
  background-color: #f9f9f9;
}

h3 {
  color: #3498db;
}

p {
  color: #000000;
}

.quiz-container {
  width: 65%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #eb06f3;
  border-radius: 8px;
  border-width: 3px;
  background-color: #f9f9f9;
  text-align: center;
}

.question-container {
  margin-bottom: 20px;
}

.options-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  color: white;
  margin: 8px;
  padding: 10px;
  border: 1px solid #eb06f3;
  border-radius: 8px;
  border-width: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #e0e0e0;
}
